.brand {
  background-color: grey;
}

.map {
  background-color: red;
}

.photo {
  background-color: blue;
}

.description {
  background-color: green;
}

.profil{
  background-color: purple;
}

.booking{
  background-color: orange;
}
