.rent-form-container{
  width: 80%;
  margin: 0 auto;
}

.col{
  max-width: 30vw !important;
  padding: 5px;
}

.show-photo {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.profil {
  text-align: center;
}
