.brand {
  background-color: none;
}

.map {
  background-color: none;
}

.photo {
  background-color: none;
}

.description {
  background-color: none;
}

.profil{
  background-color: none;
}

.booking{
  background-color: none;
}

.map {
  border: 1px solid;
}

.book-info {
}
