.card-moto a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
    &:hover {
      opacity: 1;
    }
}

.card-moto {
  overflow: hidden;
  height: 120px;
  background: #aeacc7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

  .card-moto img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

  .card-moto h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

  .card-moto p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

  .card-moto .card-moto-infos {
  padding: 16px;
}

.card-moto .price {
  font-weight: lighter;
}