.brand-tag{
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 6px;
  margin: 10px;
  padding: 5px;
}

.price-tag{
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 6px;
  margin-left: 470px;
  margin-top: 10px;
  padding: 5px;
}
